# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Credentials and Secrets
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
GITHUB-TOKEN.txt
ebay-developer-api.txt
google-ai-gemini-api-key.txt
client_secret_*.json
*.txt
*.jpeg
ai-config.json
