# Dependencies
node_modules
.pnp
.pnp.js

# Testing
coverage

# Production
dist
build

# Credentials and Secrets
GITHUB-TOKEN.txt
ebay-developer-api.txt
google-ai-gemini-api-key.txt
client_secret_*.json
*.txt
*.jpeg
ai-config.json
.env.local
